.banner {
    height: 100vh;
}

.welcome {
    background-color: aqua;
}

.feat-1{
    background-color: blueviolet;
}

.feat-2{
    background-color: tomato;
}

.features-container , .testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
